---
name: Deploy

# zizmor: ignore[dangerous-triggers] - workflow_run needed for deploy pattern
# yamllint disable-line rule:truthy
on:
  release:
    types:
      - published
  workflow_run:
    workflows: ["CI"]
    branches: [main]
    types:
      - completed

permissions:
  contents: read
  packages: write

jobs:
  workflows:
    uses: einschmidt/workflows/.github/workflows/app-deploy.yaml@main
    secrets:
      DISPATCH_TOKEN: ${{ secrets.DISPATCH_TOKEN }}
